.exit-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
  gap: 5%;
  color: var(--white);
}

.exit-title,
.exit-title-table {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: left ;
  font-size: clamp(4px, 1vw, 16px);
}

.exit-form {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.exit-form-board-container {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-form-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5%;
}

#boards {
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--white);
  width: 10%;
  text-align: left;
  padding: 0% 0.4%;
  height: 45%;
  color: var(--white);
  font-size: clamp(4px, 1vw, 10px);
}
.exit-form-register {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exit-form-camp {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 10%;
}
.exit-form-camp:nth-child(1) {
  width: 20%;
}

.exit-form-camp > p {
  font-size: clamp(4px, 1vw, 10px);
  text-align: left;
  font-weight: 400;
}

.exit-form-camp-result {
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0% 5%;
  height: 70%;
  color: var(--white);
  font-size: clamp(4px, 1vw, 12px);
}

.exit-form-register-button {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
}

#exitBoards {
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 70%;
  color: var(--white);
  font-size: clamp(4px, 1vw, 10px);
}

#registerExit {
  width: 25%;
  height: 50%;
  background-color: var(--gray);
  border-radius: 10px;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: clamp(6px, 1vw, 12px);
  transition: 0.6s;
}

#registerExit:hover {
  cursor: pointer;
  background-color: var(--yellow);
}

.exit-table-container {
  width: 100%;
  height: 60%;
  overflow-y: scroll;
}
.exit-table-container::-webkit-scrollbar {
  width: 8px;
}
.exit-table-container::-webkit-scrollbar-track {
  background: transparent;
}
.exit-table-container::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 15px;
}

.exit-table {
  width: 100%;
  max-height: 100%;
  border-spacing: 0.4vw;
}

.exit-table tr {
  height: 3.5vh;
}

.exit-table tr:nth-child(odd) {
  background-color: var(--light-blue);
}

.exit-table tr:nth-child(even) {
  background-color: var(--gray);
}
.exit-table tr:nth-child(1) {
  background-color: transparent;
}
.exit-table tr th {
  font-size: clamp(6px, 1vw, 16px);
  text-align: left;
  font-weight: 400;
}

.exit-table tr td {
  border: 1px solid var(--white);
  border-radius: 10px;
  padding-left: 10px;
  font-size: clamp(4px, 1vw, 12px);
  transition: 0.6s;
}