.move-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 5%;
}

.move-form-container {
    width: 100%;
    height: 30%;
    display: flex;

    align-items: center;
    justify-content: left;

}

.move-title {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: clamp(4px, 1.5vw, 24px);

}

.move-form{
    width: 20%;
    height: 30%;
    display: flex;
    align-items: left;
    justify-content: flex-end;
    flex-direction: column;
}

.move-form > select{
    background-color: #1b1b1b;
    border-radius: 10px;
    border: 1px solid #fff;
    width: 90%;
    text-align: left;
    height: 45%;
    color: #fff;
    font-size: clamp(4px, 1vw, 14px);
}

.move-form-button{
    width: 20%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
}

.move-form-button> button {
    width: 100%;
    height: 50%;

    background-color: #1b1b1b;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: clamp(6px, 1vw, 16px);
    transition: 0.6s;
}

.move-form-button> button:hover {
    cursor: pointer;
    background-color: #d9c517;
}